<p><table class="center" style="width:100%">

<tr>
      <td colspan="5">Contact Us</td>
</tr>
<tr>
<td>Phone:</td><td> +27(0)78 167 2830</td>
</tr>
<tr>
<td>Email:</td><td> info@soduhlux.co.za</td>
</tr>
<tr>
<td>Address:</td><td> Silver Lakes,</td><td> Pretoria,</td><td> 2094</td>
</tr>


  <tr>
      <td colspan="5">Quik Links</td>
  
    <td><a [routerLink]="['/about']" class="button fancy-button">Returns</a></td>
 
   <td><td><a [routerLink]="['/free']" class="button fancy-button">Shipping</a></td>
 
    <td><a [routerLink]="['/about']" class="button fancy-button">Terms and Conditions</a></td>

    <td><a [routerLink]="['/dude']" class="button fancy-button">Privacy Policy<i class="material-icons">copyright</i>2020 SuDuh Lux South Africa</a></td> 

<!--<td><a [routerLink]="['/about']">About us</a></td>-->

<!--<td><label for="Search">Search</label></td><td><input id="Search" type="text" formControlName="Search" height="32" width="32"></td>-->
<tr>
  <td colspan="5">Follow Us</td>
</tr>

<tr>
<td><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a></td>

 <td><a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a></td>

 <td><a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a></td>

<td><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a></td>
</tr>

<tr><td colspan="5">Cards Accepted</td></tr>
<tr>
<td><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/Visa%20MasterCard.jpg" height="300" width="168"></a></td>
</tr>

</table></p>