<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
<table id="t03" class="center" style="width:100%" layout-align="center center">
  <tr>
  <th colspan="2">
    <ul class="topnav">
  <li class="dropdown">
    <a href="javascript:void(0)" class="button fancy-button"><i class="material-icons">menu</i></a>
    <div class="dropdown-content">
      <a [routerLink]="['/resi']"><h2>Residential News</h2></a>
<a [routerLink]="['/comm']"><h2>Commercial News</h2></a>
<a [routerLink]="['/free']"><h2>Free Downloads</h2></a>
<!--<a [routerLink]="['/landl']"><h2>Industrial News</h2></a>
<a [routerLink]="['/inter']"><h2>Lifestyle and Leisure</h2></a>
<a [routerLink]="['/inter']"><h2>International News</h2></a>
<a [routerLink]="['/inter']"><h2>Legal</h2></a>-->
    </div>
  </li>
  <li><a [routerLink]="['/news']" class="button fancy-button"><h2>NEWS</h2></a></li>
<li><a [routerLink]="['/covid']" class="button fancy-button"><h2>COVID-19</h2></a></li>
<li><a [routerLink]="['/podcast']" class="button fancy-button"><h2>PODCASTS</h2></a></li>
<li><a [routerLink]="['/free']" class="button fancy-button"><h2>FREE DOWNLOADS</h2></a></li>
<li><a [routerLink]="['/contact']" class="button fancy-button"><h2>CONTACT US</h2></a></li>
 </ul> </th></tr>

<tr>
  <td colspan="2"><h1>We Would Like To Hear From You</h1></td>
</tr>

<tr>
  <td colspan="2"><p> <label for="email">Email us on:</label> ntokozo@raspermedia.com/info@raspermedia.com <label for="cell">Call us on :</label> +268 7661 8219 / 7675 657</p></td>
</tr>

<tr>
  <td><label for="nameandsurname">Name:*</label>
  <input minlength="4"id="nameandsurname" type="text" formControlName="nameandsurname" required></td>
<div *ngIf="nameandsurname.invalid && (nameandsurname.dirty || nameandsurname.touched)"
    class="alert alert-danger">

  <div *ngIf="nameandsurname.errors.required">
    Name is required.
  </div>
  <div *ngIf="nameandsurname.errors.minlength">
    Name must be at least 4 characters long.
  </div>
</div>
</tr>
<tr>
  <td><label for="Cname">Company Name(If applicable):</label>
  <input minlength="4" id="Cname" type="text" formControlName="Cname"></td>
</tr>

<tr>
  <td><label for="Cnumber">Contact Number:*</label><input minlength="2" id="Cnumber" type="tel" formControlName="Cnumber" required></td>
<div *ngIf="Cnumber.invalid && (Cnumber.dirty || Cnumber.touched)"
    class="alert alert-danger">

  <div *ngIf="Cnumber.errors.required">
    Contact Number is required.
  </div>
  <div *ngIf="Cnumber.errors.minlength">
    Contact Number must be at least 4 characters long.
  </div>
</div>
<tr>
  <td><label for="Eaddress">Email Address:</label>
  <input id="Eaddress" type="email" formControlName="Eaddress"></td>
</tr>
<tr>

  <td><label for="areaofinterest">Area of interest:*</label>
  <select matNativeControl formControlName="areaofinterest" required id="areaofinterest">
<option >Area of interest</option>
<option >Advertise</option>
<option >Property Insights/Research</option>
<option >Podcasts</option>
<option >Become a reporter</option>
<option >Other</option>
  </select></td>
</tr>

<tr> 
   <td><label for="Info">Questions/Compliments/Complaints *</label>
     <input id="Info" type="textarea" rows="10" cols="35" formControlName="Info" required></td>
  </tr>

<!--<tr>
  <td colspan="2"><button class="button2" type="submit" [disabled]="!contactForm.valid" >SUBMIT</button></td>
</tr>-->

<tr>
  <td colspan="2"><button class="button2" type="submit" >SUBMIT</button></td>
 </tr>

  </table>

 <!-- <p>
  Form Status: {{ profileForm.status }}
</p>-->

</form>

  <label for="name">Our Address</label>Raspers Media (PTY) LTD No: 302, Upper Deck, Corporate Place Mbabane<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.987264397963!2d31.138838715032584!3d-26.326911883383474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee8ceef406d4171%3A0xc303bdc7759f8d8e!2sCorporate%20Place!5e0!3m2!1sen!2snz!4v1585689757212!5m2!1sen!2snz" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
 
