<h2>Products</h2>
<div class="container"><a [routerLink]="['/housef']">
<img src = "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-thuhmy/master/src/assets/houseflp.jpg" height="400" width="100%"></a>
  <div class="top-left"><a class="button fancy-button"><i class="material-icons">menu</i></a></div>
  <div class="top-right"><a class="button fancy-button"><i class="material-icons">search</i></a>
<a class="button fancy-button"><i class="material-icons">shopping_cart</i></a></div>
  
  <div class="centered"><a [routerLink]="['/news']"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-xv4yjj-eyfwjf/master/src/assets/soduh.png" height="40" width="60"></a></div>

<div class="content">

<a [routerLink]="['/housef']">
  UNDERSTANDING HOUSE FLIPPING WITH REMAX ESWATINI’S LYLE HUTTON</a>
  </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->